<div class="page" style="text-align: center">
    <br><button  class="button-70" *ngIf="flagButton" type="button" (click)="getAPiCall()">Get Api</button>
    &nbsp;&nbsp;&nbsp;
    <button  class="button-71"  *ngIf="flagButton" type="button" (click)="postAPiCall()">Post Api</button>
    &nbsp;&nbsp;&nbsp;
    <button  class="button-72"  *ngIf="flagButton" type="button" (click)="updateAPiCall()">Update Api</button>
    &nbsp;&nbsp;&nbsp;
    <button  class="button-73"  *ngIf="flagButton" type="button" (click)="deleteAPiCall()">Delete Api</button>    
    
    <!-- <div class="component-01">
        <router-outlet></router-outlet>    
    </div> -->
</div>
