<div class="header-01">
    <h1>Angular Rest End Point</h1>
</div>
<button  class="note-02"   type="button" (click)="callHome()">Home</button>

<!-- <app-buttons></app-buttons> -->
<!-- <div class="page" style="text-align: center">
<br><button  class="button-70" *ngIf="flagButton" type="button" (click)="getAPiCall()">Get Api</button>
&nbsp;&nbsp;&nbsp;
<button  class="button-71"  *ngIf="flagButton" type="button" (click)="postAPiCall()">Post Api</button>
&nbsp;&nbsp;&nbsp;
<button  class="button-72"  *ngIf="flagButton" type="button" (click)="updateAPiCall()">Update Api</button>
&nbsp;&nbsp;&nbsp;
<button  class="button-73"  *ngIf="flagButton" type="button" (click)="deleteAPiCall()">Delete Api</button>
<button  class="button-71" *ngIf="flagResetButton" type="button" (click)="reset()">Home Page</button><br><br><br>
-->
<br><br>
<div class="component-01">
    <router-outlet></router-outlet>    
</div>
<!-- </div>  -->
<footer>
    <p class="note-01">Note: This Is The Happy Flow Project</p>
</footer>
